.gradle
gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
**/src/main/kotlin/*.kt
build.gradle.kts
gradle.properties
gradlew
gradlew.bat
settings.gradle.kts

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/

### Mac OS ###
.DS_Store
